<form action="/result" method="post">
    Marks 1:<input type="number" min="0"  max="50" name="marks1">
    Marks 2:<input type="number" min="0"  max="50" name="marks2">
    Subject:<select name="subject">
        <option value="fsd2">FSD2</option>
        <option value="p2">Python2</option>
        </select>
    Username:<input type="text" name="un">
        <input type="submit">
</form>